<%- include('../layouts/header') %>

    <div class="container">
        <div class="heading""><h3>Basic CRUD (Create)</h3></div>
        <form method="post" action="/insert">
            <div class="form-group">
                <label>Name</label>
                <input type="text" class="form-control" id="name" placeholder="Enter name" name="name">
            </div>
            <div class="form-group">
                <label>Email</label>
                <input type="email" class="form-control" id="email" placeholder="Enter email" name="email">
            </div>
            <div class="form-group">
                <label>Contact</label>
                <input type="text" class="form-control" id="contact" placeholder="Enter contact" name="contact">
            </div>
            <button type="submit" class="btn btn-primary btn-lg btn-block">Save</button>
        </form>
    </div>

<%- include('../layouts/footer') %>